.property-card {
  border-radius: 16px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.property-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.property-img-wrapper {
  padding: 10px;
  background-color: #f8f9fa;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.container {
  max-width: 100% !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.property-img {
  border-radius: 12px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.property-body {
  background-color: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
